/*****************************

main styles
body and primary content.
takes out margin from
header and styles section in
the middle.

******************************/

body {

  color: #878787;
  margin: 0px;
  background: url(../img/Restaurant.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;


}

#primary-content {

  margin: 0px auto;
  padding: 0px;
  position: center;
  max-width: 980px;
  min-width: 250px;

}

/******************************

Header styles

********************************/

header {

  background: url(../img/food.png);

}

h1 {

  font-size: 90px;
  color: white;
  text-align: center;

}

h2 {

  font-size: 70px;
  color: white;
  text-align: center;

}

/***********************************

content styles

************************************/

h3 {

  font-size: 50px;
  color: orange;
  text-align: center;



}
